gwt-unitCache
www-test
target
.project
*.iml
.settings
.idea
.classpath
.gwt
bin
META-INF
.checkstyle
chromedriver.log
.errai/
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse
*.versionsBackup