gwt-unitCache
www-test
target
.project
*.iml
.idea
.classpath
.gwt
bin
.checkstyle
chromedriver.log
.errai/
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
gwtp.plugin.core/.settings/
gwtp.plugin.feature/.settings/
gwtp.plugin.site/.settings/
gwtp.plugin.test/.settings/
/.settings/

.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse
*.versionsBackup