<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.newWizards">
       <category
             id="com.arcbees.plugin.core.newWizards"
             name="GWTP" />
       <wizard
             category="com.arcbees.plugin.core.newWizards"
             class="com.arcbees.gwtp.plugin.core.project.CreateProjectWizard"
             icon="src/main/resources/icons/icon.png"
             id="com.arcbees.gwtp.plugin.core.project.CreateProjectWizard"
             name="GWTP Project" />
       <wizard
             category="com.arcbees.plugin.core.newWizards"
             class="com.arcbees.gwtp.plugin.core.presenter.CreatePresenterWizard"
             icon="src/main/resources/icons/icon.png"
             id="com.arcbees.gwtp.plugin.core.presenter.CreatePresenterWizard"
             name="GWTP Presenter" />
             
       <wizard
             category="com.arcbees.plugin.core.newWizards"
             class="com.arcbees.gwtp.plugin.core.event.CreateEventWizard"
             icon="src/main/resources/icons/icon.png"
             id="com.arcbees.gwtp.plugin.core.event.CreateEventWizard"
             name="GWTP Event" />
    </extension> 
     
     <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.project.CreateProjectWizard"/>
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.presenter.CreatePresenterWizard"/>
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.event.CreateEventWizard"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.project.CreateProjectWizard"/>
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.presenter.CreatePresenterWizard"/>
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.event.CreateEventWizard"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.project.CreateProjectWizard"/>
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.presenter.CreatePresenterWizard"/>
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.event.CreateEventWizard"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.project.CreateProjectWizard"/>
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.presenter.CreatePresenterWizard"/>
         <newWizardShortcut
               id="com.arcbees.gwtp.plugin.core.event.CreateEventWizard"/>
      </perspectiveExtension>      
   </extension>

</plugin>
