<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.imagem.gwtpplugin.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.imagem.gwtpplugin.Perspective"
            id="com.imagem.gwtpplugin.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.imagem.gwtpplugin.application"
            name="gwtpplugin">
         <property
               name="appName"
               value="gwtpplugin">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.imagem.gwtpplugin.actionSet"
            label="GWTP Action"
            visible="true">
         <action
               class="com.imagem.gwtpplugin.MenuAction"
               icon="icons/gwtp-plugin.png"
               id="com.imagem.gwtpplugin.action"
               label="GWTP Menu"
               state="true"
               style="pulldown"
               toolbarPath="GWTP"
               tooltip="GWTP Plugin">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.imagem.gwtpplugin.view.GwtPropertyPage"
            id="com.imagem.gwtpplugin.view.GwtPropertyPage"
            name="GWT-Platform">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.google.gwt.eclipse.core.gwtNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.imagem.gwtpplugin"
            name="GWT-Platform">
      </category>
      <wizard
            category="com.imagem.gwtpplugin"
            class="com.imagem.gwtpplugin.wizard.NewProjectWizard"
            icon="icons/gwtp-plugin.png"
            id="com.imagem.gwtpplugin.wizard.NewProjectWizard"
            name="GWTP Project"
            project="true">
      </wizard>
      <wizard
            category="com.imagem.gwtpplugin"
            class="com.imagem.gwtpplugin.wizard.NewActionWizard"
            icon="icons/gwtp-plugin.png"
            id="com.imagem.gwtpplugin.wizard.NewActionWizard"
            name="Action"
            project="false">
      </wizard>
      <wizard
            category="com.imagem.gwtpplugin"
            class="com.imagem.gwtpplugin.wizard.NewEventWizard"
            icon="icons/gwtp-plugin.png"
            id="com.imagem.gwtpplugin.wizard.NewEventWizard"
            name="Event"
            project="false">
      </wizard>
      <wizard
            category="com.imagem.gwtpplugin"
            class="com.imagem.gwtpplugin.wizard.NewModelWizard"
            icon="icons/gwtp-plugin.png"
            id="com.imagem.gwtpplugin.wizard.NewModelWizard"
            name="Model"
            project="false">
      </wizard>
      <wizard
            category="com.imagem.gwtpplugin"
            class="com.imagem.gwtpplugin.wizard.NewPresenterWizard"
            icon="icons/gwtp-plugin.png"
            id="com.imagem.gwtpplugin.wizard.NewPresenterWizard"
            name="Presenter"
            project="false">
      </wizard>
   </extension>

</plugin>
