<ui:UiBinder xmlns:ui='urn:ui:com.google.gwt.uibinder'
             xmlns:g='urn:import:com.google.gwt.user.client.ui'>
    <g:HTMLPanel>Hello World!
        <br/>
        Send a message to the server:
        <g:TextBox ui:field="message"></g:TextBox>
        <g:Button ui:field="sendButton">Send</g:Button>
        <g:VerticalPanel ui:field="messageResultPanel"/>
    </g:HTMLPanel>
</ui:UiBinder>
