package ${packageName}.client;

import com.google.gwt.junit.client.GWTTestCase;

public class SandboxGwtTest extends GWTTestCase {
    @Override
    public String getModuleName() {
        return "${packageName}.${projectName}";
    }

    public void testSandbox() {
        assertTrue(true);
    }
}
